<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>


<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/register}" class="nav-link">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <div class="row" style="margin-top:20px">
        <span>Thank You [[${firstName}]] [[${lastName}]]. Your registration is pending with admin. Once decision is made an email will be sent at [[${email}]]</span>
    </div>
    <input class="btn btn-primary" type="button" value="Go Back" onclick="history.back(-1)" />
    <br>
</div>

<footer class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3 " style="color: #fff; background-color: #343a40; position: absolute; bottom: 0; width: 100%;">
    <div class="copy-agile-right text-center">
        <h2 class="my-3">Secure Hospital System</h2>
        <p>
            © 2022 Secure Hospital System
        </p>
    </div>
</footer>
</body>
</html>